<h1>Shapes</h1>

<% if @shapes.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Shape</th>
        <th>Number of Pokemons</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shapes.each do |shape| %>
        <tr>
          <td><%= shape.name.capitalize %></td>
          <td><%= shape.pokemons.count %></td>
          <td><%= link_to 'Show Pokemons', shape_path(shape), class: "btn btn-outline-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row mt-4">
    <%= paginate @shapes, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm justify-content-center", nav_class: "d-inline-b" %>
  </div>
<% else %>
  <div class="alert alert-info text-center" role="alert">
    No shapes found.
  </div>
<% end %>
