<h1 class="text-center"><%= @type.name.capitalize %> Pokemons</h1>

<div class="row justify-content-center">
  <% @pokemons.each do |pokemon| %>
    <%= render partial: 'shared/pokemon_card', locals: { pokemon: pokemon } %>
  <% end %>
</div>
