<h1 class="text-center">Pokemon List</h1>

<div class="row justify-content-center">
  <% @pokemons.each do |pokemon| %>
    <%= render partial: 'shared/pokemon_card', locals: { pokemon: pokemon } %>
  <% end %>
</div>

<div class="row mt-4">
  <%= paginate @pokemons, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm justify-content-center", nav_class: "d-inline-b" %>
</div>
